{% extends 'base.html' %}
{% block title %}
	Login |
{% endblock %}
{% block content %}
	<h1>Welcome!</h1>
	<hr>
	<div id="chatapp">
		<h2>Chat</h2>
		<h3>Lastest messages</h3>
		<div id="container">

			<div class="message" v-for="message in messages">
				<p>
					<b v-if="message.username == username">Me</b>
					<b v-else="">[[message.username]]</b> at [[message.timestamp]]
					<button v-if="message.username == username" @click="deleteMessage(message.id)">Eliminar</button>
				</p>
				<img :src="message.image" alt="Image here >.<" height="64">
				<hr>
			</div>
			<div id="bottom"></div>
		</div>
		<input type="file" @change="uploadImage" name="image" id="image" accept="image/*">
	</div>

	<hr>
	<h2>Users </h2>
	{% for user in users %}
		{{ user.username }} | {{ user.last_login }}
	{% endfor %}
{% endblock %}

{% block scripts %}
	<script>
        let chatapp = new Vue({
            el: '#chatapp',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    messages: {},
                    username: '{{ request.user.username }}',
                    user: {{ request.user.id }},
                    chatSocket: new WebSocket(
                        'ws://' + window.location.host + '/ws/chat/' + '{{ roomName }}' + '/'
                    ),
                    next: {},
                }
            },
            mounted() {
                this.webSocketConfiguration()
                this.loadMessages()
                document.getElementById("container").onscroll = () => {
                    let topOfWindow = document.getElementById("container").scrollTop === 0
                    if (topOfWindow) {
                        console.log('update')
						document.getElementById("container").scrollTop= 1
                        this.loadMessages(this.next)


                    }
                }
            },
            methods: {
                loadMessages(url) {
                    let self = this;
                    if (url) {
                        if (url === "None") {
                            return
                        }
                        axios.get(url)
                            .then(function (response) {
                                response.data.results.forEach(function (value, index) {
                                    response.data.results[index].timestamp = new Date(response.data.results[index].timestamp).toLocaleString()
                                });
                                self.messages = response.data.results.concat(self.messages)
                                self.next = response.data.next
                                if (self.next === null) {
                                    self.next = "None"
                                }
                            })
                    } else {
                        axios.get('{% url 'chat_api:list-create-message' %}')
                            .then(function (response) {
								response.data.results.forEach(function (value, index) {
                                    response.data.results[index].timestamp = new Date(response.data.results[index].timestamp).toLocaleString()
                                });
                                self.messages = response.data.results
                                self.next = response.data.next
                                if (self.next === null) {
                                    self.next = "None"
                                }

                                setTimeout(() => {
                                    document.getElementById("bottom").scrollIntoView({block: 'end', behavior: 'smooth'})
                                }, 0)
                            })
                    }

                },
                uploadImage(e) {
                    let img = e.target.files[0]
                    let fd = new FormData()
                    let self = this;
                    fd.append('image', img)
                    fd.append('user', this.user)
                    axios.post('{% url 'chat_api:list-create-message' %}', fd)
                        .then(response => {
                            self.chatSocket.send(JSON.stringify({
                                'id': response.data.id,
                                'user': response.data.user,
                                'username': response.data.username,
                                'image': response.data.image,
                                'timestamp': response.data.timestamp,
                                'type': 'chat_message'
                            }))
                            setTimeout(() => {
                                document.getElementById("bottom").scrollIntoView({block: 'end', behavior: 'smooth'})
                            }, 0)
                        })
                },
                updateMessages(id) {
                    this.messages = this.messages.filter(function (value, index, arr) {
                        return value.id != id
                    });
                },
                deleteMessage(id) {
                    let self = this;
                    axios.delete('{% url 'chat_api:delete-message' %}', {
                        params: {detalle: id}
                    })
                        .then(response => {
                            self.chatSocket.send(JSON.stringify({
                                'type': 'delete_message',
                                'id': id,
                            }))
                        })
                },
                webSocketConfiguration() {
                    let self = this
                    //Capturar los mensajes
                    this.chatSocket.onmessage = function (e) {
                        const data = JSON.parse(e.data);
                        if (data.type === 'chat_message') {
                            data.timestamp = new Date(data.timestamp).toLocaleString()
                            self.messages.push(data)
                        } else {
                            self.updateMessages(data.id)
                        }

                    }
                    this.chatSocket.onclose = function (e) {
                        console.error('Chat socket closed unexpectedly')
                    }
                },
            }
        });
	</script>
{% endblock %}